<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>URL 링크</h1>
	<ul>
		<li>	<!-- hello -->
			<a th:href="@{/hello}">basic url</a>
		</li>
		<li>	<!-- /hello?param1=data1&param2=data2 -->
			<a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a>
		</li>
		<li>	<!-- /hello/data1/data2 -->
			<a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a>
		</li>
		<li>	<!-- /hello/data1?param2=data2 -->
			<a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query param</a>
		</li>
	</ul>
</body>
</html>