<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>리터럴</h1>
	<ul>
<!-- 		<li><span th:text="hello World"></span></li> -->
		<li>"hello World" = <span th:text="'hello World'"></span></li>
		<li>'hello' + ' World' = <span th:text="'hello' + ' World'"></span></li>
		<li>'hello' + ${data} = <span th:text="'hello ' + ${data}"></span></li>
		<li>리터럴 대체 |hello ${data}| = <span th:text="|hello  ${data}|"></span></li>
	</ul>
</body>
</html>